@import "tailwindcss";

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
input::-webkit-credentials-auto-fill-button,
input::-webkit-clear-button,
input::-webkit-inner-spin-button,
input::-webkit-textfield-decoration-container {
  display: none !important;
}

* {
 /* ya scroll */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE/Edge purane versions */
}

::-webkit-scrollbar, 
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}